#jupyter notebooks checkpoints
HW4_fdg224/.ipynb_checkpoints/
HW4_fdg224/.ipynb_checkpoints/*
HW3_fdg224/.ipynb_checkpoints/*
HW3_fdg224/.ipynb_checkpoints/
HW2_fdg224/.ipynb_checkpoints
HW2_fdg224/.ipynb_checkpoints/*
HW1_fdg224/.ipynb_checkpoints/*
HW1_fdg224/.ipynb_checkpoints
